body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
margin-top: 50px;
    padding-left: -40px;
	padding-bottom:100px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{
margin-top: -50px;
}

.portlet-decoration
{
	/*padding: 3px 8px;*/
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.portlet-content
{
	font-size:0.9em;
	/*margin: 0 0 15px 0;*/
	padding: 5px 8px;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.form {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}

#toolbar {
margin-right: 10px;
float: right;
}
#toolbar ul li {
	list-style-type: none;
	display: inline-block;
	padding-right: 10px;
	margin-left:0px;
}
#toolbar ul  {	
	margin-left:-20px;
	margin-bottom: -30px;
}
#toolbarform {
margin-bottom: 30px;
}
#toolbarform ul li {
	list-style-type: none;
	display: inline-block;
	padding-right: 10px;
	margin-left:0px;
}
#toolbarform ul  {	
	margin-left:-20px;
	margin-bottom: 30px;
}
.recordpage
{
	left: 250px;
top: -30px;
width: auto;
	display: inline-block;
}
.recordpage input
{
  position: relative;
	left: 10px;
width: 50px;
}
#tabledata
{
	display: table;
	margin-top:20px;
}
.rowdata 
{
	display: table-row;
	margin-bottom:10px;
}
.cell 
{
	display: table-cell;
	padding-right: 60px;
}
#buttongrid
{
float: right;
margin-top:50px;
}
#buttongrid ul li {
	list-style-type: none;
	display: inline-block;
	padding-right: 10px;
	margin-left:0px;
}
#buttongrid ul  {	
	margin-left:-20px;
	margin-bottom: 30px;
}